#cad-detail-banner {
    background-image: url('/assets/images/bim/2d-cad-detail.png');
    height:100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}