<section id="lets-connect" class="banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="mt-10 text-white pt-5 pb-5">
                    <h2>Got a Project? <span>Let's chat</span></h2>
                    <p>Tell us everything. Our team is passionate about delivering results.</p>
                    <p>This means being bold, taking risks and going beyond expectations.</p>
                    <a routerLink="contact-us" class="know-more">contact us <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
