#modal-based-banner {
    background-image: url('/assets/images/embeded-system/modal-based.jpg');
    height:100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}