<section id="eng-banner" class="min-banner text-white overlay">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="mt-10 text-center">
            <h2>Engineering</h2>
            <p>Our team is passionate about delivering results</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="pt-5 pb-5 design-content">
    <div class="container">
        <div class="row">
            <div class="col-12">
              <p>msaii Engineering offered the product development and process engineering services, prototyping & experimentation, Proof of concept, analysis and research aiming to provide full vehicle turnkey and package engineering services.</p>
              <p>As a service provider we have engineers located in USA, CANADA and INDIA, msaii Engineering is able to deliver the work packages, executing the entire product and process development and offering a complete service across the following domains.</p>
              <img src="assets/images/designs/eng-2.jpg" class="img-fluid b-radius w-50">
              <div class="pt-5">
              <h1>Our Approach</h1>
              <p>It is well-designed business process based on gates, stages, milestones and deliverables, to control technical and performance accomplishment, time, cost and to ensure robustness in development. It is exceedingly flexible and allows an easily association with any OEM’s process.</p>
              <p>Some of Our core capabilities:</p>
              <ul>
                  <li>Actual design, package investigation and basic architecture</li>
                  <li>Product Benchmarking & Feasibility Studies</li>
                  <li>Concept classification and development</li>
                  <li>Complete Body Engineering (BIW, Exteriors, Interiors, Chassis, etc.)</li>
                  <li>Powertrain (ICE, EV, HYBRID) system integration</li>
                  <li>Chassis system integration</li>
                  <li>Prototypes Manufacturing</li>
                  <li>Homologation and legislation checks</li>
                  <li>Product Quality control</li>
                  <li>Program management</li>
              </ul>
            </div>
            </div>
        </div>
    </div>
  </section>
  <section class="industries-main designs">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 mb-5">
            <div class="indust-wrap">
                <a [routerLink]="['/','product-design']">
                    <img src="assets/images/designs/product-design.png" alt="">
                    <h3>Product design</h3>
                </a>
            </div>
        </div>
        <div class="col-lg-4 mb-5">
          <div class="indust-wrap">
            <a [routerLink]="['/','competency-development']">
                <img src="assets/images/designs/competancy.png" alt="">
                <h3>Competancy Development</h3>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
