<section id="application-test-banner" class="min-banner text-white overlay">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="mt-10 text-center">
            <h2>Application Support</h2>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="pt-5 design-content pb-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h6>Software Testing & Quality Assurance Services</h6>
                <p>MSAII offers complete Software testing services for global enterprises and across the industries. We specialize in providing end-to-end application testing solutions, setting up Testing Center of Excellence, QA strategies at optimal cost, desired Quality and ensure delivery at the right time every time.</p>
                <h6>Our Software Testing Services</h6>
                <p>We offer a wide range of software testing and QA services for AR/VR or Digital solutions for your AI/ML applications. We constantly work on complex QA requirements and with our structured processes, tools and techniques, we adapt with ease to the industry agility.</p>
                <p>Our team of software testers & QA professionals have experience in various QA and testing services like test automation, performance testing and functional testing. Our professional approach through all facilitate in enhancing the product/project quality and development experience.</p>
            </div>
        </div>
    </div>
  </section>
  <section class="pad-50 industries-main designs">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 mb-5">
            <div class="indust-wrap">
                <a [routerLink]="['/','software-testing','test-automation']">
                    <img src="assets/images/testing/automation-testing.jpeg" alt="">
                    <h3>Test Automation</h3>
                </a>
            </div>
        </div>
        <div class="col-lg-4 mb-5">
            <div class="indust-wrap">
                <a [routerLink]="['/','software-testing','manual-testing']">
                    <img src="assets/images/testing/manual-testing.jpeg" alt="">
                    <h3>Manual Testing</h3>
                </a>
            </div>
        </div>
      </div>
    </div>
  </section>