
<section id="aec-bim-banner" class="min-banner text-white overlay">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="mt-10 text-center">
                    <h2>AEC/BIM</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="getintouch" class="pt-5 pb-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="ourservices-text">
              <h1>Design Support Services <br>for the Global AEC Industry</h1>
              <p>We are the pioneers in offering Design Support Services across the Global Architecture, Engineering, and Construction Industry. Our team has Architects, Engineers, Interior Designers, and CAD Technicians. The senior management at MSAII Associates has collective experience in setting up cutting edge operational processes and communication regime across different time zones. With the right mix of talent and domain expertise, we have designed a seamless process to offer Architectural, CAD and BIM services globally.</p>
              <p>At, The MSAII we value commitment, transparency, quality and collaboration to nurture a compelling work culture.</p>
              <h1>OUR SERVICES</h1>
              <h6>Overall incorporation for your project from concept to completion</h6>
              <p>MSAII Engineering is a leading engineering company. We use the latest technologies, such as Building Information Modeling and provide steel and rebar detailing design for any kind of steel and concrete structures. We as a Global firm, have vast experience in the United States, Canada, UK, Europe and  Middle East. Our company guarantees to do the job at a high level without losing sight of your country-specific issues or knowledge of legal requirements.</p>
            </div>
        </div>
      </div>
    </div>
  </section>
  <section class="bg-orange pt-5 pb-5 text-white">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="ace-bim-content">
            <h4>Rebar Detailing Services:</h4>
            <h5 class="text-warning">3D BIM Services (LOD 500)</h5>
              <ul>
                  <li>Architecture</li>
                  <li>Structural</li>
                  <li>MEP BIM Modeling</li>
                  <li>Detailing</li>
              </ul>
            </div>
        </div>
        <div class="col-lg-6">
          <div class="ace-bim-content">
            <h4>Scan to BIM Services</h4>
            <h5 class="text-warning">Detailing (2D CAD) Services:</h5>
              <ul>
                  <li>Steel Detailing</li>
                  <li>Rebar Detailing</li>
                  <li>Precast Detailing</li>
                  <li>PT Detailing</li>
                  <li>MEP Detailing</li>
                  <li>As-built drawings</li>
              </ul>
            </div>
        </div>
      </div>
    </div>
  </section>
  <section class="bg-cover pt-5 overlay standards-follow">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2>Standards Follow</h2>
            </div>
        </div>
        <div class="row">
          <div class="col-lg-12 mb-4">
            <div class="follow-text">
              <img src="assets/images/support.png" alt="">
              <h4>ACI</h4>
            </div>
            <div class="follow-text">
              <img src="assets/images/support.png" alt="">
              <h4>British Standards</h4>
            </div>
            <div class="follow-text">
              <img src="assets/images/support.png" alt="">
              <h4>Indian Standards</h4>
            </div>
            <div class="follow-text">
              <img src="assets/images/support.png" alt="">
              <h4>Australian standards</h4>
            </div>
            <div class="follow-text">
              <img src="assets/images/support.png" alt="">
              <h4>As required by the client</h4>
            </div>
        </div>
    </div>
    </div>
  </section>
  <section class="bg-cover pt-5 our-cap pb-5">
    <div class="container">
        <div class="row">
          <div class="col-12">
            <h2>Our Capabilities</h2>
          </div>
        </div>
        <div class="row">
            <div class="col-4 mb-4">
                <div class="cap-title">
                  <img src="assets/images/navisworks-no-year-lockup-stacked-screen.png" class="mg-auto" alt="">
                </div>
            </div>
            <div class="col-4 mb-4">
              <div class="cap-title">
                <img src="assets/images/png-clipart-logo-autocad-2014-autodesk-computer-software-architecture-drawing-angle-3d-computer-graphics.png" class="mg-auto" alt="">
              </div>
            </div>
            <div class="col-4 mb-4">
              <div class="cap-title">
                <img src="assets/images/autodesk-revit.png" class="mg-auto" alt="">
              </div>
            </div>
        </div>
        <div class="row">
          <div class="col-3 mb-4">
              <div class="cap-title">
                <img src="assets/images/etabs.jpg" class="mg-auto" alt="">
              </div>
          </div>
          <div class="col-3 mb-4">
            <div class="cap-title">
              <img src="assets/images/logo5.png" class="mg-auto" alt="">
            </div>
        </div>
        <div class="col-3 mb-4">
          <div class="cap-title">
            <img src="assets/images/logo6.png" class="mg-auto" alt="">
          </div>
        </div>
        <div class="col-3 mb-4">
          <div class="cap-title">
            <img src="assets/images/tekla.png" class="mg-auto" alt="">
          </div>
        </div>
        </div>
      </div>
  </section>
  <section class="pt-5 industries-main">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 mb-5">
            <div class="indust-wrap">
                <img src="assets/images/auto-1.png" alt="">
                <div class="indust-info">
                    <h5>Automotive Industry</h5>
                    <p>The global automotive industry is always in flux, as new models & designs alter the shape and performance of automobiles.</p>
                    <a [routerLink]="['/', 'our-services','automotive']" class="know-more">KNOW MORE <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-5">
            <div class="indust-wrap">
                <img src="assets/images/auto-2.png" alt="">
                <div class="indust-info">
                  <h5>Digital Manufacturing Industry</h5>
                  <p>Digital manufacturing is an integral part of product lifecycle management (PLM)</p>
                  <a [routerLink]="['/', 'our-services', 'digital-industry']" class="know-more">KNOW MORE <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                </div>
              </div>
        </div>
        <div class="col-lg-4 mb-5">
          <div class="indust-wrap">
            <img src="assets/images/industires/semiconductor.png" alt="">
            <div class="indust-info">
              <h5>semiconductor</h5>
              <p>A semiconductor material has an electrical conductivity value falling between that of a conductor</p>
              <a [routerLink]="['/', 'semiconductor', 'vlsi']" class="know-more">KNOW MORE <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="bg-cover industries-main">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 mb-5">
          <div class="indust-wrap">
            <img src="assets/images/industires/webdevelop.png" alt="">
            <div class="indust-info">
              <h5>Web development</h5>
              <p>The global automotive industry is always in flux, as new models & designs alter the shape and performance of automobiles.</p>
              <a [routerLink]="['/', 'our-services','web-development']" class="know-more">KNOW MORE <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
        </div>
        </div>
  </section>
 