#bim-3d-banner {
    background-image: url('/assets/images/3d-bim.png');
    height:100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}