<section id="home-banner" class="text-white overlay banner" >
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="banner-text">
            <h3><span style="text-transform: capitalize;">We create</span> <span> powerful strategies</span><br> <span style="text-transform: lowercase; font-size: 20px !important;"> and </span> <span> practical solutions</span></h3>
            <h5 style="line-height: 0px !important; font-size:15px !important; "><span>Msaii is a result-driven firm. A masterful team that, execute every engagement</span></h5> <h5 style="margin-top: 20px !important; font-size:15px !important;"><span>with purpose and focus, on measurable, actionable results.</span></h5>
            <h5 style="line-height: 60px;"><a class="nav-link" routerLink="/who-we-are" class="know-more">Know more <i class="fa fa-arrow-right" aria-hidden="true"></i></a></h5>
          </div>
        </div>
      </div>
    </div>
</section>

<section class="feature-driven pt-5 pb-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h2>feature-driven engineering</h2>
          <p>We offer an accurate estimation of work and use them to drive your project towards success as defined by you.</p>
          <a class="nav-link" routerLink="/who-we-are" class="know-more">SEE WHO WE ARE <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
        </div>
        <div class="col-lg-6 p-0">
          <img src="/assets/images/driven-engg.png" class="img-fluid">
        </div>
      </div>
    </div>
  </section>

  <section id="industries" class="pt-5 pb-5">
    <div class="container">
      <div class="row">
        <div class="row">
          <div class="col-lg-6">
            <div class="section-title">
              <h2>Industries <span>we serve</span></h2>
              <p>MSAII is a modern engineering company, dedicated to providing high quality design and product development services for the engineering industry.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <header class="mainHeading">
              <div class="mainHeading__content">
                <article class="mainHeading__text">
                    <h2 class="mainHeading__title">Automotive</h2>
                    <p class="mainHeading__description">
                      The global automotive industry is always in flux, as new models & designs alter the shape and performance of automobiles.
                    </p>
                    <div class="button">
                      <a [routerLink]="['/', 'our-services','automotive']" class="link">Explore</a>
                  </div>
                </article>
          
                <figure class="mainHeading__image">
                    <img
                      src="assets/images/auto-1.png"
                      alt=""
                    />
                </figure>
              </div>
            </header>
          </div>
          <div class="col">
            <header class="mainHeading">
              <div class="mainHeading__content">
                <article class="mainHeading__text">
                    <h2 class="mainHeading__title">Digital Manufacturing</h2>
                    <p class="mainHeading__description">
                      Digital manufacturing is an integral part of product lifecycle management (PLM)
                    </p>
                    <div class="button">
                      <a [routerLink]="['/','our-services', 'digital-industry']" class="link">Explore</a>
                  </div>
                </article>
          
                <figure class="mainHeading__image">
                    <img
                      src="assets/images/auto-2.png"
                      alt=""
                    />
                </figure>
              </div>
            </header>
          </div>
          <div class="col">
            <header class="mainHeading">
              <div class="mainHeading__content">
                <article class="mainHeading__text">
                    <h2 class="mainHeading__title">Web development</h2>
                    <p class="mainHeading__description">
                      The global automotive industry is always in flux, as new models & designs alter the shape and performance of automobiles.
                    </p>
                    <div class="button">
                      <a [routerLink]="['/','our-services','web-development']" class="link">Explore</a>
                  </div>
                </article>
          
                <figure class="mainHeading__image">
                    <img
                      src="assets/images/industires/webdevelop.png"
                      alt=""
                    />
                </figure>
              </div>
            </header>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <header class="mainHeading">
              <div class="mainHeading__content">
                <article class="mainHeading__text">
                    <h2 class="mainHeading__title">SEMICONDUCTOR</h2>
                    <p class="mainHeading__description">
                      A semiconductor material has an electrical conductivity value falling between that of a conductor.
                    </p>
                    <div class="button">
                      <a [routerLink]="['/', 'digital-industry', 'semiconductor']" class="link">Explore</a>
                  </div>
                </article>
          
                <figure class="mainHeading__image">
                    <img
                      src="assets/images/industires/semiconductor.png"
                      alt=""
                    />
                </figure>
              </div>
            </header>
          </div>
          <div class="col">
            <header class="mainHeading">
              <div class="mainHeading__content">
                <article class="mainHeading__text">
                    <h2 class="mainHeading__title">AEC/BIM</h2>
                    <p class="mainHeading__description">
                      The global automotive industry is always in flux, as new models & designs alter the shape and performance of automobiles.
                    </p>
                    <div class="button">
                      <a [routerLink]="['/','our-services','aec-bim']" class="link">Explore</a>
                  </div>
                </article>

                <figure class="mainHeading__image">
                    <img
                      src="assets/images/aec-bim.jpg"
                      alt=""
                    />
                </figure>
              </div>
            </header>
          </div>
        </div>
      </div>
    </div>
  </section>

<section class="our_services pt-5 pb-5">
 
    <div class="container">
      <div class="row">
      <div class="col-lg-12 pt-3 pb-3" >
        <div class="text-center"> 
          <h2>CORE SERVICES WE DO</h2>
          <div class="row justify-content-md-center">
              <p class="col-lg-6">MSAII is a modern engineering company, dedicated to providing high quality design and product development services for the engineering industry.</p>
          </div>
        </div>
      </div>
    </div>
  </div>    
  
  <div class="whole_services connect-pad">
    <div class ="row">
    <div class="col">
      <div class="services_list overlay"><a [routerLink]="['/','automotive', 'designs']">
        <img class="img-fluid blur_one" src="assets/images/designs/designs.png" width="100%"> </a>
        <div class="service_txt">
          <p><a [routerLink]="['/','automotive', 'designs']">Design</a></p>
        </div>
        <a [routerLink]="['/','automotive', 'designs']"> </a>
      </div>
    </div>

    <div class="col">
      <div class="services_list overlay">
        <a [routerLink]="['/','automotive', 'virtual-validation']">
          <img class="img-responsive blur_one" src="assets/images/virtual.png" width="100%"> 
        </a>
        <div class="service_txt">
          <p><a [routerLink]="['/','automotive', 'virtual-validation']">Virtual Validation</a></p>
        </div>
        <a [routerLink]="['/','automotive', 'virtual-validation']"> </a>
      </div>
    </div>  
  
    <div class="col">
      <div class="services_list overlay">
        <a [routerLink]="['/','automotive', 'embedded-systems']">
          <img class="img-fluid blur_one" src="assets/images/embeded-system/banner3.png" width="100%"> </a>
  
        <div class="service_txt">
          <p><a [routerLink]="['/','automotive', 'embedded-systems']">Embedded System</a></p>
        </div>
        <a [routerLink]="['/','automotive', 'embedded-systems']"> </a>
      </div>
    </div>
  
    <div class="col">
      <div class="services_list overlay">
        <a [routerLink]="['/', 'digital-industry', 'ai-ml']">
          <img class="img-fluid blur_one" src="assets/images/al-ml.png" width="100%"> 
        </a>
      
        <div class="service_txt">
          <p><a [routerLink]="['/','', 'ai-ml']">AI/ML</a></p>
        </div>
        <a [routerLink]="['/', 'digital-industry', 'ai-ml']"> </a>
      </div>
    </div>
    
    <div class="col">
      <div class="services_list overlay">
        <a [routerLink]="['/', 'digital-industry','ui-ux']">
          <img class="img-fluid blur_one" src="assets/images/ui-ux-2.jpg" width="100%"> 
        </a>
        <div class="service_txt">
          <p><a [routerLink]="['/', 'digital-industry','ui-ux']">UI/UX</a></p>
        </div>
        <a [routerLink]="['/', 'digital-industry','ui-ux']"> </a>
      </div>
    </div>
  </div>
</div>

</section>

