<section id="career-banner" class="min-banner text-white overlay pb-5">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="mt-10 text-center">
            <h3>Careers</h3>
            <p>The global automotive industry is always in flux, as new models & designs.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="getintouch" class="pt-5 pb-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="ourservices-text text-center">
              <h1>Careers at Msaii</h1>
              <p>At Msaii, we pride ourselves on building powerful, sophisticated software that’s fun and easy to use. We believe that customers are the foundation of a successful business and we want to enable every team to deliver moments of wow to them.</p>
              <p>We are constantly on the lookout for smart people who are passionate about building great products, designing great experiences, building scalable platforms, and making customers happy. If this describes you, feel free to take a look at our openings below and apply!</p>
              <a class="btn btn-primary apply-btn" href="mailto:info@msaii.com?subject=Reg:Job Application">Apply Now</a>
            </div>
        </div>
      </div>
    </div>
  </section>
  <section class=" pb-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="ourservices-text text-center">
            <h1>The Msaii Culture</h1>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col mb-4">
          <div class="office-benefits">
            <img src="assets/images/craft.png" alt="">
            <h3>Craftsmanship</h3>
            <p>Whether it’s our in-house coffee, onboarding service, or sales experience—we strive to be world-class in everything we do. “Am I proud to put my name on my work?” is the mantra we live by.</p>
          </div>
        </div>
        <div class="col mb-4">
          <div class="office-benefits">
            <img src="assets/images/work-hrs.png" alt="">
            <h3>Happy “Work” Environment</h3>
            <p>We choose career paths that play to our strengths and operate as one collaborative unit with diverse perspectives and backgrounds. The work we do here doesn’t just pay the bills; it makes us happy.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col mb-4">
          <div class="office-benefits">
            <img src="assets/images/agile.png" alt="">
            <h3>Agility Through Empowerment</h3>
            <p>We act with urgency. We are empowered to take ownership of our work, make quick decisions, and get things done. We keep asking ourselves, “How can this be done sooner?” at every step of the way.            </p>
          </div>
        </div>
        <div class="col mb-4">
          <div class="office-benefits">
            <img src="assets/images/customers.png" alt="">
            <h3>True Friend of the Customer</h3>
            <p>Our promise to our customers is simple - we want to be their friend. To this end, we go the extra mile to connect with them and understand their needs. We spare no effort in making our customers win.</p>
          </div>
        </div>
      </div>
    </div>
  </section>