#ui-ux-banner {
    background-image: url('/assets/images/ui-ux-1.jpg');
    height:100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}